.mainDiv {
  /* border: 2px solid red; */
  margin-top: 5rem;
}
.topHeading {
  /* border: 2px solid red; */
  color: #ffffff;
  font-size: 31px;
  font-weight: 500;
}
.para {
  /* border: 2px solid red; */
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
}
.paraSpan {
  /* border: 2px solid red; */
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
}
.customImage {
  width: 100%;
  max-width: 690px;
}
