.featuresContainer {
  color: #fff;
  padding: 5rem 1.4rem;
  margin-top: 5rem;
  background-color: rgb(177, 199, 230);
}
.topHeading {
  color: #ffffff;
  font-size: 54px;
  font-weight: 700;
}

.featureCard {
  background-color: #000000;
  border: none;
  color: #fff;
}

.featureIcon {
  width: 100px;
  height: auto;
}
.smallIcon {
  width: 80px;
  height: auto;
}
.title {
  color: #ffffff;
  font-size: 29px;
  font-weight: 600;
}
.text {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  margin-top: 1rem;
}
