.mainContainer {
  /* border: 2px solid red; */
}
.topHeading {
  color: #ffffff;
  font-size: 64px;
  font-weight: 600;
  line-height: 4.3rem;
}
.para {
  width: 100%;
  max-width: 580px;
  color: #ffffff;
  font-size: 21px;
  font-weight: 400;
}
@media (max-width: 480px) {
  .topHeading {
    font-size: 34px;
    line-height: 2.3rem;
  }
  .para {
    font-size: 17px;
  }
}
